body {
	margin: 15px;
	padding: 15px;
	--color-text: #111;
	--color-bg: #fff;
	--color-link: #c0092b;
	--color-link-hover: #000;
	--color-menu: #000;
	--color-menu-hover: #c0092b;
	color: var(--color-text);
	background-color: var(--color-bg);
    font-family: freight-big-pro, "Minion Pro", serif;
}

#title:hover {
	font-style: italic;
	/* transform: translate3d(2rem,0,0); */
	color: var(--color-menu-hover);

}
.links:hover {
	font-style: italic;
	transform: translate3d(-2rem,0,0);
	color: var(--color-menu-hover);

}

.frame__links:hover{
    font-style: regular;
    --color-menu: #000;
	--color-menu-hover: #c0092b;
	color: var(--color-text);
	/* transform: translate3d(2rem,0,0); */
	color: var(--color-menu-hover);
}

.frame {
	top: 0;
    --color-menu: #000;
	--color-menu-hover: #c0092b;
	color: var(--color-text);
	/* padding: 1rem; */
	position: fixed;
	/* z-index: 1000; */
	/* font-weight: 600; */
	font-style: italic;
	/* background: #f0f0f0; */
	width: 100%;
	display: flex;
 
}


.frame__links {
	margin: 0 1rem;
}


.frame__button {
	color: var(--color-link);
    padding: 3 0rem;
	/* margin-left: auto; */
}

.gif-grid {
	margin: 0 1rem;
	padding: 3 0rem;
}

.grid-item{
	width: 300px

}

.instagram{
	width: 50%
}

.mobile .menu {
	padding: 2rem 0;
	height: auto;
}

.menu__item {
	flex: none;
	margin-right: 4rem;
	padding: 0 2rem 0 0;
}

.menu__item-inner {
	white-space: nowrap;
	position: relative;
	cursor: pointer;
	font-size: 3vw;
	padding: 0.5rem;
	display: block;
	color: var(--color-menu);
	transition: transform 0.2s;
}

.menu__item-inner:hover {
	font-style: italic;
	transform: translate3d(2rem,0,0);
	color: var(--color-menu-hover);
}

.menu__item-inner::before {
	content: '';
	top: 55%;
	width: 3.5rem;
	height: 1px;
	background: currentColor;
	position: absolute;
	right: calc(100% + 2rem);
	opacity: 0;
	pointer-events: none;
}

.menu__item-inner:hover::before {
	opacity: 1;
}

/* Pseudo-element for making sure that hover area is active */
.menu__item-inner:hover::after {
	content: '';
	position: absolute;
	top: 0;
	left: -5.5rem;
	right: 0;
	height: 100%;
}

/*tabs custom */
.tabs .indicator{
	background-color: pink;
  }
  .tabs .tab a:focus, .tabs .tab a:focus.active{
	background: transparent;
  }